<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pomina.webapp.user_managerment.mapper.SysUserManagermentMapper">

    <!-- ResultMap ánh xạ toàn bộ cột -->
    <resultMap id="SysUserResultMapFullInfo" type="com.pomina.webapp.user_managerment.entity.SysUser">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="ho_va_ten" property="hoVaTen"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="ma_so_thue" property="maSoThue"/>
        <result column="master_location_code" property="masterLocationCode"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_number" property="bankNumber"/>
        <result column="user_description" property="userDescription"/>
        <result column="role_id" property="roleId"/>
        <result column="is_active" property="isActive"/>
        <result column="old_id" property="oldId"/>
        <result column="status" property="status"/>
        <result column="noted" property="note"/>
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="is_deleted" property="isDeleted"/>

        <result column="role_name" property="roleName"/>
        <result column="role_description" property="roleDescription"/>

        <result column="locationId" property="locationId"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
        <result column="address01" property="address01"/>
        <result column="address02" property="address02"/>
        <result column="address03" property="address03"/>
        <result column="address04" property="address04"/>
        <result column="address05" property="address05"/>
        <result column="fullAddress" property="fullAddress"/>
    </resultMap>

    <resultMap id="SysUserResultMap" type="com.pomina.webapp.user_managerment.entity.SysUser">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="ho_va_ten" property="hoVaTen"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="ma_so_thue" property="maSoThue"/>
        <result column="master_location_code" property="masterLocationCode"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_number" property="bankNumber"/>
        <result column="description" property="description"/>
        <result column="role_id" property="roleId"/>
        <result column="is_active" property="isActive"/>
        <result column="old_id" property="oldId"/>
        <result column="status" property="status"/>
        <result column="noted" property="note"/>
        <result column="created_at" property="createdAt"/>
<!--        <result column="created_by" property="createdBy"/>-->
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- Lấy user theo ID -->
    <select id="findById" parameterType="int" resultMap="SysUserResultMapFullInfo">
        SELECT u.user_id,
               u.username,
               u.password,
               u.phone_number,
               u.ho_va_ten,
               u.ma_so_thue,
               u.master_location_code,
               u.bank_name,
               u.bank_number,
               u.description   AS user_description,
               u.role_id,
               u.is_active,
               u.old_id,
               u.description,
               u.status,
               u.noted,
               u.created_at,
               u.created_by,
               u.updated_at,
               u.updated_by,
               u.is_deleted,
               r.role_name,
               r.description   AS role_description,
               l.u_location_id AS locationId,
               l.latitude,
               l.longitude,
               l.address01,
               l.address02,
               l.address03,
               l.address04,
               l.address05,
               l.full_address  AS fullAddress
        FROM sys_user u
                 LEFT JOIN sys_role r ON u.role_id = r.id
                 LEFT JOIN u_location l ON u.user_id = l.user_id
        WHERE u.user_id = #{id}
          AND u.is_deleted = 0
    </select>

    <!-- Lấy toàn bộ user -->
    <select id="findAll" resultMap="SysUserResultMapFullInfo">
        SELECT u.user_id,
               u.username,
               u.password,
               u.phone_number,
               u.ho_va_ten,
               u.ma_so_thue,
               u.master_location_code,
               u.bank_name,
               u.bank_number,
               u.description   AS user_description,
               u.role_id,
               u.is_active,
               u.old_id,
               u.description,
               u.status,
               u.noted,
               u.created_at,
               u.created_by,
               u.updated_at,
               u.updated_by,
               u.is_deleted,
               r.role_name,
               r.description   AS role_description,
               l.u_location_id AS locationId,
               l.latitude,
               l.longitude,
               l.address01,
               l.address02,
               l.address03,
               l.address04,
               l.address05,
               l.full_address  AS fullAddress
        FROM sys_user u
                 LEFT JOIN sys_role r ON u.role_id = r.id
                 LEFT JOIN u_location l ON u.user_id = l.user_id
        WHERE u.is_deleted = 0
    </select>

    <!-- Lấy user có phân trang and filter -->
    <select id="findAllPaged" resultMap="SysUserResultMapFullInfo">
        WITH user_data AS (
        SELECT
        u.user_id,
        u.username,
        u.password,
        u.phone_number,
        u.ho_va_ten,
        u.ma_so_thue,
        u.master_location_code,
        u.bank_name,
        u.bank_number,
        u.description   AS user_description,
        u.role_id,
        u.is_active,
        u.old_id,
        u.status,
        u.noted,
        u.created_at,
        u.created_by,
        u.updated_at,
        u.updated_by,
        u.is_deleted,
        r.role_name,
        r.description   AS role_description,
        l.u_location_id AS locationId,
        l.latitude,
        l.longitude,
        l.address01,
        l.address02,
        l.address03,
        l.address04,
        l.address05,
        l.full_address  AS fullAddress
        FROM sys_user u
        LEFT JOIN sys_role r ON u.role_id = r.id
        LEFT JOIN u_location l ON u.user_id = l.user_id
        WHERE u.is_deleted = 0

        <if test="filter != null and filter.size > 0">
            AND (
            <foreach collection="filter" item="f" separator=" OR ">
                u.ho_va_ten LIKE CONCAT('%', #{f}, '%')
                OR u.username LIKE CONCAT('%', #{f}, '%')
                OR u.phone_number LIKE CONCAT('%', #{f}, '%')
                OR r.role_name LIKE CONCAT('%', #{f}, '%')
                OR l.full_address LIKE CONCAT('%', #{f}, '%')
            </foreach>
            )
        </if>
        )
        SELECT *
        FROM user_data
        ORDER BY created_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countAllWithFilter" resultType="int">
        WITH user_data AS (
        SELECT u.user_id
        FROM sys_user u
        LEFT JOIN sys_role r ON u.role_id = r.id
        LEFT JOIN u_location l ON u.user_id = l.user_id
        WHERE u.is_deleted = 0

        <if test="filter != null and filter.size > 0">
            AND (
            <foreach collection="filter" item="f" separator=" OR ">
                u.ho_va_ten LIKE CONCAT('%', #{f}, '%')
                OR u.username LIKE CONCAT('%', #{f}, '%')
                OR u.phone_number LIKE CONCAT('%', #{f}, '%')
                OR r.role_name LIKE CONCAT('%', #{f}, '%')
                OR l.full_address LIKE CONCAT('%', #{f}, '%')
            </foreach>
            )
        </if>
        )
        SELECT COUNT(*) FROM user_data
    </select>



    <!-- Thêm user -->
    <insert id="insert" parameterType="com.pomina.webapp.user_managerment.entity.SysUser" useGeneratedKeys="true"
            keyProperty="userId">
        INSERT INTO sys_user (username,
                              password,
                              ho_va_ten,
                              phone_number,
                              ma_so_thue,
                              master_location_code,
                              bank_name, bank_number,
                              description,
                              role_id,
                              is_active,
                              old_id,
                              status,
                              noted,
                              created_at,
                              created_by,
                              updated_at,
                              updated_by,
                              is_deleted)
        VALUES (#{username},
                #{password},
                #{hoVaTen},
                #{phoneNumber},
                #{maSoThue},
                #{masterLocationCode},
                #{bankName},
                #{bankNumber},
                #{userDescription},
                #{roleId},
                #{isActive},
                #{oldId},
                #{status},
                #{note},
                NOW(),
                #{createdBy},
                NOW(),
                #{updatedBy},
                false)
    </insert>

    <!-- Cập nhật user -->
    <update id="update" parameterType="com.pomina.webapp.user_managerment.entity.SysUser">
        UPDATE sys_user
        SET
        username = #{username},
        <if test="password != null and password !='' ">
            password = #{password},
        </if>
        ho_va_ten = #{hoVaTen},
        phone_number = #{phoneNumber},
        ma_so_thue = #{maSoThue},
        master_location_code = #{masterLocationCode},
        bank_name = #{bankName},
        bank_number = #{bankNumber},
        description = #{description},
        role_id = #{roleId},
        is_active = #{isActive},
        old_id = #{oldId},
        status = #{status},
        noted = #{note},
        updated_at = NOW(),
        updated_by = #{updatedBy}
        WHERE user_id = #{userId}
    </update>

    <!-- Xóa cứng user -->
    <delete id="deleteById" parameterType="int">
        DELETE
        FROM sys_user
        WHERE user_id = #{id}
    </delete>

    <!-- Xóa mềm user -->
    <update id="softDeleteById" parameterType="int">
        UPDATE sys_user
        SET is_deleted = 1,
            updated_at = NOW(),
            updated_by = #{updatedBy}
        WHERE user_id = #{id}
    </update>

    <!-- Kiểm tra user có tồn tại -->
    <select id="isExistUser" parameterType="int" resultType="byte">
        SELECT 1
        FROM sys_user
        WHERE user_id = #{id}
          AND is_deleted = 0
    </select>

    <select id="getListUserIdByPhoneNumber" parameterType="String" resultType="integer">
        SELECT user_id
        FROM sys_user
        WHERE phone_number = #{phoneNumber}
    </select>

    <select id="findUserIdsByPhoneNumberExcludingId" parameterType="map" resultType="integer">
        SELECT user_id
        FROM sys_user
        WHERE phone_number = #{phoneNumber}
          AND user_id != #{userId}
    </select>

    <!-- Đếm toàn bộ user -->
    <select id="countAll" resultType="int">
        SELECT COUNT(1)
        FROM sys_user
        WHERE is_deleted = 0
    </select>

</mapper>
