<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pomina.erpapp.systemconfigsecurity.mapper.SysUserMapper">

    <resultMap id="SysUserResultMap" type="com.pomina.erpapp.systemconfigsecurity.model.SysUser">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="ho_va_ten" property="hoVaTen"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="ma_so_thue" property="maSoThue"/>
        <result column="master_location_code" property="masterLocationCode"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_number" property="bankNumber"/>
        <result column="description" property="description"/>
        <result column="role_id" property="roleId"/>
        <result column="is_active" property="isActive"/>
        <result column="old_id" property="oldId"/>
        <result column="status" property="status"/>
        <result column="noted" property="noted"/>
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <resultMap type="com.pomina.erpapp.systemconfigsecurity.model.SysUser"
               id="userLoginResultMap">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="ho_va_ten" property="hoVaTen"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="password" property="password"/>
        <result column="role_name" property="roleName"/>
    </resultMap>

    <select id="getUserLogin" resultMap="userLoginResultMap">
        SELECT u.user_id,
               u.username,
               u.ho_va_ten,
               u.phone_number,
               u.password,
               r.role_name
        FROM sys_user u
                 LEFT JOIN sys_role r ON u.role_id = r.id
        WHERE u.phone_number LIKE #{username}
          AND u.is_active = TRUE
    </select>

    <select id="findByUserName" resultMap="SysUserResultMap">
        SELECT user_id,
               username,
               phone_number,
               password,
               ho_va_ten,
               ma_so_thue,
               bank_name,
               bank_number,
               description,
               role_id
        FROM sys_user
        WHERE phone_number = #{username}
        LIMIT 1
    </select>

    <select id="findByUserId" resultMap="userLoginResultMap">
        SELECT u.user_id,
               u.username,
               u.ho_va_ten,
               u.phone_number,
               u.password,
               r.role_name
        FROM sys_user u
                 LEFT JOIN sys_role r ON u.role_id = r.id
        WHERE u.user_id LIKE #{userId}
          AND u.is_active = TRUE
    </select>

    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="userId">
        INSERT INTO sys_user (user_id, username, phone_number, password, ho_va_ten, ma_so_thue, role_id, is_active)
        VALUES (#{userId}, #{username}, #{phoneNumber}, #{password}, #{hoVaTen}, #{maSoThue}, #{roleId}, #{isActive})
    </insert>
</mapper>