HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Environment Settings ###
#.env
application-prod.yaml

# Ignore application-test.yaml
src/main/resources/application-test.yaml

# Ignore test
src/test/java/com/pomina/webapp/
src/test/java/com/pomina/commonservices/


### Log ###
logs

### Test K6 ###
k6-test

### Redis ###
redis.conf

