[server1]
type=server
address=mariadb-master
port=3306
protocol=MariaDBBackend

[server2]
type=server
address=mariadb-slave
port=3306
protocol=MariaDBBackend

[MyMonitor]
type=monitor
module=mariadbmon
servers=server1,server2
user=root
password=root123
monitor_interval=2000
auto_failover=true
auto_rejoin=true

[RW-Service]
type=service
router=readwritesplit
servers=server1,server2
user=root
password=root123

[RW-Listener]
type=listener
service=RW-Service
protocol=MariaDBClient
port=4006