<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pomina.commonservices.category.mapper.VCategoryMapper">

    <resultMap id="ViewCategoriesResultMap"
               type="com.pomina.commonservices.category.dto.custom_mapper.CategoryItem">
        <result property="nameGroup" column="name_group"/>
        <result property="idOrderType" column="id_order_type"/>
        <result property="nameType" column="name_type"/>
    </resultMap>

    <select id="findAllViewCategories" resultMap="ViewCategoriesResultMap">
        SELECT name_group, id_order_type, name_type
        FROM v_category_loai_ton
        UNION ALL
        SELECT name_group, id_order_type, name_type
        FROM v_category_loai_hang
        UNION ALL
        SELECT name_group, id_order_type, name_type
        FROM v_category_be_mat
        UNION ALL
        SELECT name_group, id_order_type, name_type
        FROM v_category_do_ma
        UNION ALL
        SELECT name_group, id_order_type, name_type
        FROM v_category_do_day
        UNION ALL
        SELECT name_group, id_order_type, name_type
        FROM v_category_mau_sac
        UNION ALL
        SELECT name_group, id_order_type, name_type
        FROM v_category_mac_thep
    </select>

</mapper>