<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pomina.commonservices.user_management.mapper.UserMapper">

    <resultMap id="SysUserResultMap" type="com.pomina.commonservices.user_management.entity.SysUser">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="password" property="password"/>
        <result column="ho_va_ten" property="hoVaTen"/>
        <result column="ma_so_thue" property="maSoThue"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_number" property="bankNumber"/>
        <result column="description" property="description"/>
        <result column="role_id" property="roleId"/>
        <result column="is_active" property="isActive"/>
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="role_name" property="roleName"/>
        <result column="address01" property="address01"/>
        <result column="address02" property="address02"/>
        <result column="address03" property="address03"/>
        <result column="address04" property="address04"/>
        <result column="address05" property="address05"/>
        <result column="full_address" property="fullAddress"/>
    </resultMap>

    <select id="findById" resultMap="SysUserResultMap">
        SELECT u.user_id,
               u.username,
               u.phone_number,
               u.password,
               u.ho_va_ten,
               u.ma_so_thue,
               u.bank_name,
               u.bank_number,
               u.description,
               u.role_id,
               u.is_active,
               u.created_at,
               u.created_by,
               u.updated_at,
               u.updated_by,
               u.is_deleted,
               r.role_name
        FROM sys_user u
                 LEFT JOIN sys_role r ON u.role_id = r.id
        WHERE u.user_id = #{id}
          AND u.is_deleted = 0
    </select>

    <select id="findAll" resultMap="SysUserResultMap">
        SELECT u.user_id,
               u.username,
               u.phone_number,
               u.password,
               u.ho_va_ten,
               u.ma_so_thue,
               u.bank_name,
               u.bank_number,
               u.description,
               u.role_id,
               u.is_active,
               u.created_at,
               u.created_by,
               u.updated_at,
               u.updated_by,
               u.is_deleted,
               r.role_name
        FROM sys_user u
                 LEFT JOIN sys_role r ON u.role_id = r.id
        WHERE u.is_deleted = 0
    </select>

    <select id="findAllPaged" resultMap="SysUserResultMap">
        SELECT u.user_id,
        u.username,
        u.phone_number,
        u.password,
        u.ho_va_ten,
        u.ma_so_thue,
        u.bank_name,
        u.bank_number,
        u.description,
        u.role_id,
        u.is_active,
        u.created_at,
        u.created_by,
        u.updated_at,
        u.updated_by,
        u.is_deleted,
        r.role_name,
        l.u_location_id,
        l.address01,
        l.address02,
        l.address03,
        l.address04,
        l.address05,
        l.full_address
        FROM sys_user u
        LEFT JOIN sys_role r ON u.role_id = r.id
        LEFT JOIN u_location l ON u.user_id = l.user_id
        WHERE u.is_deleted = 0
        <if test="paging != null">
            ORDER BY ${paging.orderByClause}
        </if>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <insert id="insert">
        INSERT INTO sys_user (user_id, username, phone_number, password, ho_va_ten, ma_so_thue, bank_name, bank_number,
                              description,
                              role_id, is_active, created_by, updated_by)
        VALUES (#{id}, #{username}, #{phoneNumber}, #{password}, #{fullName}, #{taxCode},
                #{bankName}, #{bankNumber}, #{description},
                #{roleId}, #{isActive}, #{createdBy}, #{updatedBy})
    </insert>

    <update id="update">
        UPDATE sys_user
        SET username     = #{username},
            phone_number = #{phoneNumber},
            password     = #{password},
            ho_va_ten    = #{fullName},
            ma_so_thue   = #{taxCode},
            bank_name    = #{bankName},
            bank_number  = #{bankNumber},
            description  = #{description},
            role_id      = #{roleId},
            is_active    = #{isActive},
            updated_by   = #{updatedBy}
        WHERE user_id = #{id}
          AND is_deleted = 0
    </update>

    <delete id="deleteById">
        DELETE
        FROM sys_user
        WHERE user_id = #{id}
    </delete>

    <delete id="softDeleteById">
        UPDATE sys_user
        SET is_deleted = 1
        WHERE user_id = #{id}
    </delete>

    <select id="existsById" resultType="boolean">
        SELECT EXISTS(SELECT 1
                      FROM sys_user
                      WHERE user_id = #{id}
                        AND is_deleted = 0)
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(user_id)
        FROM sys_user
        WHERE is_deleted = 0
    </select>

</mapper>