<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pomina.commonservices.user_management.mapper.UserMapper">

    <resultMap id="SysUserResultMap" type="com.pomina.commonservices.user_management.entity.SysUser">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="password" property="password"/>
        <result column="ho_va_ten" property="hoVaTen"/>
        <result column="ma_so_thue" property="maSoThue"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_number" property="bankNumber"/>
        <result column="description" property="description"/>
        <result column="role_id" property="roleId"/>
        <result column="is_active" property="isActive"/>
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="role_name" property="roleName"/>
        <result column="address01" property="address01"/>
        <result column="address02" property="address02"/>
        <result column="address03" property="address03"/>
        <result column="address04" property="address04"/>
        <result column="address05" property="address05"/>
        <result column="full_address" property="fullAddress"/>
    </resultMap>

    <resultMap id="UserProfileResultMap" type="com.pomina.commonservices.user_management.dto.custom_mapper.UserProfile">
        <result property="userId" column="ma_nguoi_dung"/>
        <result property="username" column="ten_dang_nhap"/>
        <result property="fullName" column="ho_va_ten"/>
        <result property="phoneNumber" column="sdt"/>
        <result property="roleName" column="role_name"/>
        <result property="address01" column="address01"/>
        <result property="address02" column="address02"/>
        <result property="address03" column="address03"/>
        <result property="address04" column="address04"/>
        <result property="address05" column="address05"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="masterLocationCode" column="master_location_code"/>
        <result property="masterLocationName" column="master_location_name"/>
    </resultMap>

    <select id="findById" resultMap="SysUserResultMap">
        SELECT u.user_id,
               u.username,
               u.phone_number,
               u.password,
               u.ho_va_ten,
               u.ma_so_thue,
               u.bank_name,
               u.bank_number,
               u.description,
               u.role_id,
               u.is_active,
               u.created_at,
               u.created_by,
               u.updated_at,
               u.updated_by,
               u.is_deleted,
               r.role_name
        FROM sys_user u
                 LEFT JOIN sys_role r ON u.role_id = r.id
        WHERE u.user_id = #{id}
          AND u.is_deleted = 0
    </select>

    <select id="findAll" resultMap="SysUserResultMap">
        SELECT u.user_id,
               u.username,
               u.phone_number,
               u.password,
               u.ho_va_ten,
               u.ma_so_thue,
               u.bank_name,
               u.bank_number,
               u.description,
               u.role_id,
               u.is_active,
               u.created_at,
               u.created_by,
               u.updated_at,
               u.updated_by,
               u.is_deleted,
               r.role_name
        FROM sys_user u
                 LEFT JOIN sys_role r ON u.role_id = r.id
        WHERE u.is_deleted = 0
    </select>

    <select id="findAllPaged" resultMap="SysUserResultMap">
        SELECT u.user_id,
        u.username,
        u.phone_number,
        u.password,
        u.ho_va_ten,
        u.ma_so_thue,
        u.bank_name,
        u.bank_number,
        u.description,
        u.role_id,
        u.is_active,
        u.created_at,
        u.created_by,
        u.updated_at,
        u.updated_by,
        u.is_deleted,
        r.role_name,
        l.u_location_id,
        l.address01,
        l.address02,
        l.address03,
        l.address04,
        l.address05,
        l.full_address
        FROM sys_user u
        LEFT JOIN sys_role r ON u.role_id = r.id
        LEFT JOIN u_location l ON u.user_id = l.user_id
        WHERE u.is_deleted = 0
        <if test="paging != null">
            ORDER BY ${paging.orderByClause}
        </if>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <insert id="insert">
        INSERT INTO sys_user (user_id, username, phone_number, password, ho_va_ten, ma_so_thue, bank_name, bank_number,
                              description,
                              role_id, is_active, created_by, updated_by)
        VALUES (#{id}, #{username}, #{phoneNumber}, #{password}, #{fullName}, #{taxCode},
                #{bankName}, #{bankNumber}, #{description},
                #{roleId}, #{isActive}, #{createdBy}, #{updatedBy})
    </insert>

    <update id="update">
        UPDATE sys_user
        SET username     = #{username},
            phone_number = #{phoneNumber},
            password     = #{password},
            ho_va_ten    = #{fullName},
            ma_so_thue   = #{taxCode},
            bank_name    = #{bankName},
            bank_number  = #{bankNumber},
            description  = #{description},
            role_id      = #{roleId},
            is_active    = #{isActive},
            updated_by   = #{updatedBy}
        WHERE user_id = #{id}
          AND is_deleted = 0
    </update>

    <update id="updateProfile">
        UPDATE sys_user
        SET ho_va_ten = #{fullName},
            phone_number = #{phoneNumber},
            updated_at = NOW(),
            updated_by = #{updatedBy}
        WHERE user_id = #{userId};

        UPDATE u_location
        SET address01 = #{address01},
            address02 = #{address02},
            address03 = #{address03},
            address04 = #{address04},
            address05 = #{address05},
            latitude = #{latitude},
            longitude = #{longitude}
        WHERE user_id = #{userId};
    </update>

    <delete id="deleteById">
        DELETE
        FROM sys_user
        WHERE user_id = #{id}
    </delete>

    <delete id="softDeleteById">
        UPDATE sys_user
        SET is_deleted = 1
        WHERE user_id = #{id}
    </delete>

    <select id="existsById" resultType="boolean">
        SELECT EXISTS(SELECT 1
                      FROM sys_user
                      WHERE user_id = #{id}
                        AND is_deleted = 0)
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(user_id)
        FROM sys_user
        WHERE is_deleted = 0
    </select>

    <select id="getUserProfileByUserId" resultMap="UserProfileResultMap">
        SELECT us.user_id      ma_nguoi_dung
             , us.username     ten_dang_nhap
             , us.ho_va_ten
             , us.phone_number sdt
             , ro.description  role_name
             , u_lo.address01
             , u_lo.address02
             , u_lo.address03
             , u_lo.address04
             , u_lo.address05
             , u_lo.latitude
             , u_lo.longitude
             , ms_lo.master_location_code
             , ms_lo.master_location_name
        FROM sys_user us
                 LEFT JOIN sys_role ro ON us.role_id = ro.id
                 LEFT JOIN u_location u_lo ON u_lo.user_id = us.user_id
                 LEFT JOIN master_location ms_lo ON ms_lo.master_location_code = us.master_location_code
        WHERE us.user_id = #{userId}
    </select>

</mapper>