<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pomina.webapp.master_location_managerment.mapper.MasterLocationMapper">

    <!-- ResultMap ánh xạ cột DB -> property entity -->
    <resultMap id="MasterLocationResultMap" type="com.pomina.webapp.master_location_managerment.entity.MasterLocation">
        <id column="master_location_code" property="masterLocationCode"/>
        <result column="master_location_name" property="masterLocationName"/>
    </resultMap>

    <!-- Lấy tất cả record -->
    <select id="findAll" resultMap="MasterLocationResultMap">
        SELECT
            -- MasterLocationMapper.findAll
            master_location_code,
            master_location_name
        FROM master_location
        WHERE is_deleted = false
        group by master_location_code, master_location_name
    </select>

</mapper>
