<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pomina.webapp.policy_management.mapper.UPolicyParentMapper">

    <resultMap id="uPolicyParentResultMap"
               type="com.pomina.webapp.policy_management.entity.UPolicyParent">

        <id column="u_chinh_sach_parent_id" property="policyParentId"/>
        <result column="u_chinh_sach_parent_type" property="policyParentType"/>
        <result column="u_chinh_sach_parent_code" property="policyParentCode"/>
        <result column="u_chinh_sach_parent_name" property="policyParentName"/>
        <result column="user_id" property="userId"/>
        <result column="master_group_user_code" property="masterGroupUserCode"/>
        <result column="u_day_begin" property="uDayBegin"/>
        <result column="u_day_end" property="uDayEnd"/>
        <result column="u_status" property="uStatus"/>
        <result column="u_description" property="uDescription"/>

        <result column="status" property="status"/>
        <result column="noted" property="note"/>
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="findById" resultMap="uPolicyParentResultMap">
        SELECT
            -- UPolicyParentMapper.findById
            u_chinh_sach_parent_id
             , u_chinh_sach_parent_type
             , u_chinh_sach_parent_code
             , u_chinh_sach_parent_name
             , user_id
             , master_group_user_code
             , u_day_begin
             , u_day_end
             , u_status
             , u_description
             , status
             , noted
             , created_at
             , created_by
             , updated_at
             , updated_by
             , is_deleted
        FROM u_chinh_sach_parent
        WHERE u_chinh_sach_parent_id = #{id}
          AND is_deleted = 0
    </select>

    <select id="findAll" resultMap="uPolicyParentResultMap">
        SELECT
             -- UPolicyParentMapper.findAll
            u_chinh_sach_parent_id
             , u_chinh_sach_parent_type
             , u_chinh_sach_parent_code
             , u_chinh_sach_parent_name
             , user_id
             , master_group_user_code
             , u_day_begin
             , u_day_end
             , u_status
             , u_description
             , status
             , noted
             , created_at
             , created_by
             , updated_at
             , updated_by
             , is_deleted
        FROM u_chinh_sach_parent
        WHERE is_deleted = 0
    </select>

    <select id="findAllPaged" resultMap="uPolicyParentResultMap">
        SELECT
        -- UPolicyParentMapper.findAllPaged
        u_chinh_sach_parent_id
        , u_chinh_sach_parent_type
        , u_chinh_sach_parent_code
        , u_chinh_sach_parent_name
        , user_id
        , master_group_user_code
        , u_day_begin
        , u_day_end
        , u_status
        , u_description
        , status
        , noted
        , created_at
        , created_by
        , updated_at
        , updated_by
        , is_deleted
        FROM u_chinh_sach_parent
        WHERE is_deleted = 0
        <if test="paging != null and paging.orderByClause != null">
            ORDER BY ${paging.orderByClause}
        </if>
        LIMIT #{limit} OFFSET #{offset}
    </select>


    <select id="findByPolicyParentCode" resultMap="uPolicyParentResultMap">
        SELECT
             -- UPolicyParentMapper.findByPolicyParentCode
            u_chinh_sach_parent_id
             , u_chinh_sach_parent_type
             , u_chinh_sach_parent_code
             , u_chinh_sach_parent_name
             , user_id
             , master_group_user_code
             , u_day_begin
             , u_day_end
             , u_status
             , u_description
             , status
             , noted
             , created_at
             , created_by
             , updated_at
             , updated_by
             , is_deleted
        FROM u_chinh_sach_parent
        WHERE is_deleted = 0
        AND u_chinh_sach_parent_code = #{code}
    </select>

    <insert id="insert" useGeneratedKeys="true">
        INSERT INTO
        -- UPolicyParentMapper.insert
        u_chinh_sach_parent(
         u_chinh_sach_parent_type,
         u_chinh_sach_parent_code,
         u_chinh_sach_parent_name,
         user_id,
         master_group_user_code,
         u_day_begin,
         u_day_end,
         u_status,
         u_description,
         status,
         noted,
         created_at,
         created_by,
         updated_at,
         updated_by,
         is_deleted
        )VALUES(
            #{policyParentType},
            #{policyParentCode},
            #{policyParentName},
            #{userId},
            #{masterGroupUserCode},
            #{uDayBegin},
            #{uDayEnd},
            #{uStatus},
            #{uDescription},
            #{status},
            #{note},
            #{createdAt},
            #{createdBy},
            #{updatedAt},
            #{updatedBy},
            #{isDeleted})
    </insert>

    <update id="update">
        -- UPolicyParentMapper.insert
        UPDATE u_chinh_sach_parent
        <set>
            <if test="policyParentType != null and policyParentType != ''">
                , u_chinh_sach_parent_type = #{policyParentType}
            </if>

            <if test="policyParentCode != null and policyParentCode != ''">
                , u_chinh_sach_parent_code = #{policyParentCode}
            </if>

            <if test="policyParentName != null and policyParentName != ''">
                , u_chinh_sach_parent_name = #{policyParentName}
            </if>

            <if test="userId != null and userId != ''">
                , user_id = #{userId}
            </if>

            <if test="masterGroupUserCode != null and masterGroupUserCode != ''">
                , master_group_user_code = #{masterGroupUserCode}
            </if>

            <if test="uDayBegin != null">
                , u_day_begin = #{uDayBegin}
            </if>

            <if test="uDayEnd != null">
                , u_day_end = #{uDayEnd}
            </if>

            <if test="uStatus != null and uStatus != ''">
                , u_status = #{uStatus}
            </if>

            <if test="uDescription != null and uDescription != ''">
                , u_description = #{uDescription}
            </if>

            <if test="status != null and status != ''">
               , status = #{status}
            </if>

            <if test="note != null and note != ''">
               , noted = #{note}
            </if>

            <if test="updatedBy != null and updatedBy != ''">
               , updated_by = #{updatedBy}
            </if>

            <if test="isDeleted != null">
               , is_deleted = #{isDeleted}
            </if>

            , updated_at = NOW()

        </set>
        WHERE u_chinh_sach_parent_id = #{policyParentId}
        AND is_deleted = 0
    </update>

    <delete id="deleteById">
        DELETE
        -- UPolicyParentMapper.deleteById
        FROM u_chinh_sach_parent
        WHERE u_chinh_sach_parent_id = #{id}
    </delete>

    <update id="softDeleteList">
        <if test="list != null and list.size() > 0">
            UPDATE u_chinh_sach_parent
            -- UPolicyParentMapper.softDeleteList
            SET is_deleted = 1
            WHERE u_chinh_sach_parent_id IN
            <foreach collection="list" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </update>

    <update id="softDeleteById">
        UPDATE u_chinh_sach_parent
        -- UPolicyParentMapper.softDeleteById
        SET is_deleted = 1
        WHERE u_chinh_sach_parent_id = #{id}
    </update>

    <select id="existsById">
        SELECT
            -- UPolicyParentMapper.existsById
           EXISTS(SELECT 1
                  FROM u_chinh_sach_parent
                  WHERE u_chinh_sach_parent_id = #{id}
                  AND is_deleted = 0)
    </select>

    <select id="countAll">
        SELECT
            -- UPolicyParentMapper.countAll
            COUNT(u_chinh_sach_parent_id)
        FROM u_chinh_sach_parent
        WHERE is_deleted = 0
    </select>
</mapper>
