<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pomina.erpapp.appbaohanh.web.menu_permission.mapper.MasterMenuMapper">

    <resultMap id="masterMenuResultMap"
               type="com.pomina.erpapp.appbaohanh.web.menu_permission.entity.MasterMenu">
        <id column="master_menu_id" property="masterMenuId"/>
        <result column="master_menu_name" property="masterMenuName"/>
        <result column="path" property="path"/>
        <result column="icon" property="icon" />
        <result column="is_parent" property="isParent" javaType="Boolean"/>
        <result column="order_index" property="orderIndex" />
        <result column="parent_id" property="parentId" />
        <result column="status" property="status" />
        <result column="noted" property="note" />
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="is_deleted" property="isDeleted" javaType="Boolean"/>
    </resultMap>

    <select id="findById" resultMap="masterMenuResultMap" >
        SELECT master_menu_id,
               master_menu_name,
               path,
               icon,
               is_parent,
               order_index,
               parent_id,
               status,
               noted,
               created_at,
               created_by,
               updated_at,
               updated_by,
               is_deleted
        FROM master_menu
        WHERE master_menu_id = #{id} AND is_deleted = 0
    </select>

    <select id="findByName" resultMap="masterMenuResultMap" >
        SELECT master_menu_id,
               master_menu_name,
               path,
               icon,
               is_parent,
               order_index,
               parent_id,
               status,
               noted,
               created_at,
               created_by,
               updated_at,
               updated_by,
               is_deleted
        FROM master_menu
        WHERE master_menu_name LIKE CONCAT("%",#{masterMenuName},"%")
        AND is_parent = 1
        AND is_deleted = 0
    </select>

    <select id="findAll" resultMap="masterMenuResultMap">
        SELECT
               -- MasterMenuMapper_findAll
               master_menu_id,
               master_menu_name,
               path,
               icon,
               is_parent,
               order_index,
               parent_id,
               status,
               noted,
               created_at,
               created_by,
               updated_at,
               updated_by,
               is_deleted
        FROM master_menu
        WHERE is_deleted = 0
    </select>

    <select id="findAllPaged" resultMap="masterMenuResultMap">
        SELECT master_menu_id,
               master_menu_name,
               path,
               icon,
               is_parent,
               order_index,
               parent_id,
               status,
               noted,
               created_at,
               created_by,
               updated_at,
               updated_by,
               is_deleted
        FROM master_menu
        WHERE is_deleted = 0
        <if test="paging != null and paging.orderByClause != null">
            ORDER BY ${paging.orderByClause}
        </if>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <insert id="insert" useGeneratedKeys="true">
        INSERT INTO master_menu (
            master_menu_name,
            path,
            icon,
            is_parent,
            order_index,
            parent_id,
            status,
            noted,
            created_by,
            updated_by
        ) VALUES (
            #{masterMenuName},
            #{path},
            #{icon},
            #{isParent},
            #{orderIndex},
            #{parentId},
            #{status},
            #{note},
            #{createdBy},
            #{updatedBy}
        )
    </insert>

    <update id="update">
        UPDATE master_menu
        <set>
            <if test="masterMenuName != null and masterMenuName != ''">
                , master_menu_name = #{masterMenuName}
            </if>
            <if test="path != null and path != ''">
                , path = #{path}
            </if>
            <if test="icon != null and icon != ''">
                , icon = #{icon}
            </if>
            <if test="isParent != null and isParent != ''">
                , is_parent = #{isParent}
            </if>
            <if test="orderIndex != null and orderIndex != ''">
                , order_index = #{orderIndex}
            </if>
            <if test="parentId != null and parentId != ''">
                , parent_id = #{parentId}
            </if>
            <if test="status != null and status != ''">
                , status = #{status}
            </if>
            <if test="note != null and note != ''">
                , noted = #{note}
            </if>
            , updated_by = #{updatedBy}
            <if test="updatedAt != null and updatedAt != ''">
                , updated_at = #{updatedAt}
            </if>

        </set>
        WHERE master_menu_id = #{masterMenuId} AND is_deleted = 0
    </update>

    <delete id="deleteById">
        DELETE FROM master_menu
        WHERE master_menu_id = #{id}
    </delete>

    <update id="softDeleteById">
        UPDATE master_menu
        SET is_deleted = 1
        WHERE master_menu_id = #{id}
    </update>

    <select id="existsById">
        SELECT EXISTS(
            SELECT 1
            FROM master_menu
            WHERE master_menu_id = #{id} AND is_deleted = 0
        )
    </select>

    <select id="countAll">
        SELECT COUNT(master_menu_id)
        FROM master_menu
        WHERE is_deleted = 0
    </select>

</mapper>
