<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pomina.security.mapper.SysUserMapper">

    <resultMap id="SysUserResultMap" type="com.pomina.security.model.SysUser">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="ho_va_ten" property="hoVaTen"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="ma_so_thue" property="maSoThue"/>
        <result column="master_location_code" property="masterLocationCode"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_number" property="bankNumber"/>
        <result column="description" property="description"/>
        <result column="role_id" property="roleId"/>
        <result column="is_active" property="isActive"/>
        <result column="old_id" property="oldId"/>
    </resultMap>

    <resultMap type="com.pomina.security.model.SysUser"
               id="userLoginResultMap">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="ho_va_ten" property="hoVaTen"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="password" property="password"/>
        <result column="role_name" property="roleName"/>
    </resultMap>

    <update id="update">
        UPDATE sys_user
        SET
            username = #{username},
            password = #{password},
            ho_va_ten = #{hoVaTen},
            phone_number = #{phoneNumber},
            ma_so_thue = #{maSoThue},
            master_location_code = #{masterLocationCode},
            bank_name = #{bankName},
            bank_number = #{bankNumber},
            description = #{description},
            role_id = #{roleId},
            is_active = #{isActive},
            old_id = #{oldId},
            status = #{status},
            noted = #{note},
            created_at = #{createdAt},
            created_by = #{createdBy},
            updated_at = #{updatedAt},
            updated_by = #{updatedBy},
            is_deleted = #{isDeleted}
        WHERE user_id = #{userId}
    </update>

    <select id="getUserLogin" resultMap="userLoginResultMap">
        SELECT u.user_id,
               u.username,
               u.ho_va_ten,
               u.phone_number,
               u.password,
               r.role_name
        FROM sys_user u
                 LEFT JOIN sys_role r ON u.role_id = r.id
        WHERE u.phone_number = #{username}
          AND u.is_active = TRUE
        LIMIT 1
    </select>

    <select id="findByUserName" resultMap="SysUserResultMap">
        SELECT user_id,
               username,
               phone_number,
               password,
               ho_va_ten,
               ma_so_thue,
               bank_name,
               bank_number,
               description,
               role_id
        FROM sys_user
        WHERE phone_number = #{username}
        LIMIT 1
    </select>

    <select id="findByUserId" resultMap="userLoginResultMap">
        SELECT u.user_id,
               u.username,
               u.ho_va_ten,
               u.phone_number,
               u.password,
               r.role_name
        FROM sys_user u
                 LEFT JOIN sys_role r ON u.role_id = r.id
        WHERE u.user_id = #{userId}
          AND u.is_active = TRUE
        LIMIT 1
    </select>

    <select id="findByUserNameAndPhoneNumber" resultMap="SysUserResultMap">
        SELECT user_id,
               username,
               phone_number,
               password,
               ho_va_ten,
               ma_so_thue,
               bank_name,
               bank_number,
               description,
               role_id
        FROM sys_user
        WHERE username = #{username}
        OR phone_number = #{phoneNumber}
        LIMIT 1
    </select>

    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="userId">
        INSERT INTO sys_user (username,
                              password,
                              ho_va_ten,
                              phone_number,
                              ma_so_thue,
                              master_location_code,
                              bank_name,
                              bank_number,
                              description,
                              role_id,
                              is_active,
                              old_id,
                              status,
                              noted,
                              created_at,
                              created_by,
                              updated_at,
                              updated_by,
                              is_deleted)
        VALUES (#{username},
                #{password},
                #{hoVaTen},
                #{phoneNumber},
                #{maSoThue},
                #{masterLocationCode},
                #{bankName},
                #{bankNumber},
                #{description},
                #{roleId},
                #{isActive},
                #{oldId},
                #{status},
                #{note},
                #{createdAt},
                #{createdBy},
                #{updatedAt},
                #{updatedBy},
                #{isDeleted})
    </insert>
</mapper>