<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pomina.commonservices.product_warranty_activation.mapper.ProductMapper">

    <!--    Base ResultMap-->
    <resultMap id="ProductResultMap" type="com.pomina.commonservices.product_warranty_activation.entity.Product">
        <id column="u_product_id" property="productId"/>
        <result column="ma_cuon_ton" property="maCuonTon"/>
        <result column="ten_san_pham" property="tenSanPham"/>
        <result column="loai_cuon" property="loaiCuon"/>
        <result column="bh_phai_mau" property="bhPhaiMau"/>
        <result column="bh_an_mon" property="bhAnMon"/>
        <result column="total_weight" property="totalWeight"/>
        <result column="total_length" property="totalLength"/>
        <result column="m_a_length" property="mALength"/>
        <result column="m_b_length" property="mBLength"/>
        <result column="m_c_length" property="mCLength"/>
        <result column="status" property="status"/>
        <result column="noted" property="note"/>
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <resultMap id="ProductWithWarrantyResultMap"
               type="com.pomina.commonservices.product_warranty_activation.entity.Product">
        <id property="productId" column="u_product_id"/>
        <result property="maCuonTon" column="ma_cuon_ton"/>
        <result property="tenSanPham" column="ten_san_pham"/>
        <result property="loaiCuon" column="loai_cuon"/>
        <result property="bhPhaiMau" column="bh_phai_mau"/>
        <result property="bhAnMon" column="bh_an_mon"/>
        <result property="totalWeight" column="total_weight"/>
        <result property="totalLength" column="total_length"/>
        <result property="mALength" column="m_a_length"/>
        <result property="mBLength" column="m_b_length"/>
        <result property="mCLength" column="m_c_length"/>

        <association property="warranty"
                     javaType="com.pomina.commonservices.product_warranty_activation.entity.Warranty">
            <id property="warrantyId" column="u_warranty_id"/>
            <result property="userId" column="user_id"/>
            <result property="latitude" column="latitude"/>
            <result property="longitude" column="longitude"/>
            <result property="address01" column="address01"/>
            <result property="address02" column="address02"/>
            <result property="address03" column="address03"/>
            <result property="address04" column="address04"/>
            <result property="address05" column="address05"/>
            <result property="countryCode" column="country_code"/>
            <result property="fromWarrantyPhaiMau" column="from_warranty_phai_mau"/>
            <result property="toWarrantyPhaiMau" column="to_warranty_phai_mau"/>
            <result property="fromWarrantyAnMon" column="from_warranty_an_mon"/>
            <result property="toWarrantyAnMon" column="to_warranty_an_mon"/>
        </association>
    </resultMap>

    <select id="findById" resultMap="ProductResultMap">
        SELECT u_product_id,
               ma_cuon_ton,
               ten_san_pham,
               loai_cuon,
               bh_phai_mau,
               bh_an_mon,
               total_weight,
               total_length,
               m_a_length,
               m_b_length,
               m_c_length
        FROM u_product
        WHERE u_product_id = #{id}
          AND is_deleted = 0
    </select>

    <select id="findAll" resultMap="ProductResultMap">
        SELECT u_product_id,
               ma_cuon_ton,
               ten_san_pham,
               loai_cuon,
               bh_phai_mau,
               bh_an_mon,
               total_weight,
               total_length,
               m_a_length,
               m_b_length,
               m_c_length
        FROM u_product
        WHERE is_deleted = 0
    </select>

    <select id="findAllPaged" resultMap="ProductResultMap">
        SELECT
        u_product_id,
        ma_cuon_ton,
        ten_san_pham,
        loai_cuon,
        bh_phai_mau,
        bh_an_mon,
        total_weight,
        total_length,
        m_a_length,
        m_b_length,
        m_c_length,
        status,
        updated_at
        FROM u_product
        WHERE is_deleted = 0
        <if test="paging != null and paging.orderByClause != null">
            ORDER BY ${paging.orderByClause}
        </if>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <insert id="insert" parameterType="com.pomina.commonservices.product_warranty_activation.entity.Product">
        INSERT INTO u_product (ma_cuon_ton,
                               ten_san_pham,
                               loai_cuon,
                               bh_phai_mau,
                               bh_an_mon,
                               total_weight,
                               total_length,
                               m_a_length,
                               m_b_length,
                               m_c_length,
                               status,
                               noted,
                               created_at,
                               created_by,
                               updated_at,
                               updated_by,
                               is_deleted
                               )
        VALUES (#{maCuonTon},
                #{tenSanPham},
                #{loaiCuon},
                #{bhPhaiMau},
                #{bhAnMon},
                #{totalWeight},
                #{totalLength},
                #{mALength},
                #{mBLength},
                #{mCLength},
                #{status},
                #{note},
                #{createdAt},
                #{createdBy},
                #{updatedAt},
                #{updatedBy},
                #{isDeleted}
               )
    </insert>

    <insert id="insertBatch"
            parameterType="java.util.List"
            useGeneratedKeys="true"
            keyProperty="productId">
        INSERT INTO u_product (
        ma_cuon_ton,
        ten_san_pham,
        loai_cuon,
        bh_phai_mau,
        bh_an_mon,
        total_weight,
        total_length,
        m_a_length,
        m_b_length,
        m_c_length
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.maCuonTon},
            #{item.tenSanPham},
            #{item.loaiCuon},
            #{item.bhPhaiMau},
            #{item.bhAnMon},
            #{item.totalWeight},
            #{item.totalLength},
            #{item.maLength},
            #{item.mbLength},
            #{item.mcLength}
            )
        </foreach>
    </insert>


    <update id="update"
            parameterType="com.pomina.commonservices.product_warranty_activation.entity.Product">
        UPDATE u_product
        <set>
            <if test="maCuonTon != null and maCuonTon != ''">
                ma_cuon_ton = #{maCuonTon},
            </if>
            <if test="tenSanPham != null and tenSanPham != ''">
                ten_san_pham = #{tenSanPham},
            </if>
            <if test="loaiCuon != null and loaiCuon != ''">
                loai_cuon = #{loaiCuon},
            </if>
            <if test="bhPhaiMau != null">
                bh_phai_mau = #{bhPhaiMau},
            </if>
            <if test="bhAnMon != null">
                bh_an_mon = #{bhAnMon},
            </if>
            <if test="totalWeight != null">
                total_weight = #{totalWeight},
            </if>
            <if test="totalLength != null">
                total_length = #{totalLength},
            </if>
            <if test="maLength != null">
                m_a_length = #{maLength},
            </if>
            <if test="mbLength != null">
                m_b_length = #{mbLength},
            </if>
            <if test="mcLength != null">
                m_c_length = #{mcLength},
            </if>
        </set>
        WHERE u_product_id = #{productId}
    </update>

    <delete id="deleteById">
        DELETE
        FROM u_product
        WHERE u_product_id = #{id}
    </delete>

    <update id="softDeleteById">
        UPDATE u_product
        SET is_deleted = 1
        WHERE u_product_id = #{id}
    </update>

    <select id="existsById" resultType="boolean">
        SELECT EXISTS (SELECT 1
                       FROM u_product
                       WHERE u_product_id = #{id}
                         AND is_deleted = 0)
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(u_product_id)
        FROM u_product
        WHERE is_deleted = 0
    </select>

    <select id="findProductAndWarrantyByMaCuonTon" resultMap="ProductWithWarrantyResultMap">
        SELECT w.u_warranty_id,
               w.user_id,
               w.latitude,
               w.longitude,
               w.address01,
               w.address02,
               w.address03,
               w.address04,
               w.address05,
               w.country_code,
               w.ma_cuon_ton,
               w.from_warranty_phai_mau,
               w.to_warranty_phai_mau,
               w.from_warranty_an_mon,
               w.to_warranty_an_mon,
               w.status,
               w.noted,
               w.created_at,
               w.created_by,
               w.updated_at,
               w.updated_by,
               w.is_deleted,

               p.u_product_id,
               p.ten_san_pham,
               p.loai_cuon,
               p.bh_phai_mau,
               p.bh_an_mon,
               p.total_weight,
               p.total_length,
               p.m_a_length,
               p.m_b_length,
               p.m_c_length

        FROM u_product p
                 LEFT JOIN u_warranty w ON w.ma_cuon_ton = p.ma_cuon_ton AND w.is_deleted = 0
        WHERE p.ma_cuon_ton = #{maCuonTon}
        LIMIT 1
    </select>

</mapper>