<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pomina.commonservices.product_warranty_activation.mapper.ProductMapper">

    <resultMap id="ProductResultMap" type="com.pomina.commonservices.product_warranty_activation.entity.Product">
        <id column="u_product_id" property="productId"/>
        <result column="ma_cuon_ton" property="maCuonTon"/>
        <result column="ten_san_pham" property="tenSanPham"/>
        <result column="loai_cuon" property="loaiCuon"/>
        <result column="bh_phai_mau" property="bhPhaiMau"/>
        <result column="bh_an_mon" property="bhAnMon"/>
        <result column="total_weight" property="totalWeight"/>
        <result column="total_length" property="totalLength"/>
        <result column="m_a_length" property="mALength"/>
        <result column="m_b_length" property="mBLength"/>
        <result column="m_c_length" property="mCLength"/>
        <result column="status" property="status"/>
        <result column="noted" property="note"/>
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="findById" resultMap="ProductResultMap">
        SELECT u_product_id,
               ma_cuon_ton,
               ten_san_pham,
               loai_cuon,
               bh_phai_mau,
               bh_an_mon,
               total_weight,
               total_length,
               m_a_length,
               m_b_length,
               m_c_length
        FROM u_product
        WHERE u_product_id = #{id}
          AND is_deleted = 0
    </select>

    <select id="findAll" resultMap="ProductResultMap">
        SELECT u_product_id,
               ma_cuon_ton,
               ten_san_pham,
               loai_cuon,
               bh_phai_mau,
               bh_an_mon,
               total_weight,
               total_length,
               m_a_length,
               m_b_length,
               m_c_length
        FROM u_product
        WHERE is_deleted = 0
    </select>

    <select id="findAllPaged" resultMap="ProductResultMap">
        SELECT
        u_product_id,
        ma_cuon_ton,
        ten_san_pham,
        loai_cuon,
        bh_phai_mau,
        bh_an_mon,
        total_weight,
        total_length,
        m_a_length,
        m_b_length,
        m_c_length
        FROM u_product
        WHERE is_deleted = 0
        <if test="paging != null and paging.orderByClause != null">
            ORDER BY ${paging.orderByClause}
        </if>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <insert id="insert"
            parameterType="com.pomina.commonservices.product_warranty_activation.entity.Product">
        INSERT INTO u_product (ma_cuon_ton,
                               ten_san_pham,
                               loai_cuon,
                               bh_phai_mau,
                               bh_an_mon,
                               total_weight,
                               total_length,
                               m_a_length,
                               m_b_length,
                               m_c_length)
        VALUES (#{maCuonTon},
                #{tenSanPham},
                #{loaiCuon},
                #{bhPhaiMau},
                #{bhAnMon},
                #{totalWeight},
                #{totalLength},
                #{mALength},
                #{mBLength},
                #{mCLength})
    </insert>

    <update id="update"
            parameterType="com.pomina.commonservices.product_warranty_activation.entity.Product">
        UPDATE u_product
        <set>
            <if test="maCuonTon != null and maCuonTon != ''">
                ma_cuon_ton = #{maCuonTon},
            </if>
            <if test="tenSanPham != null and tenSanPham != ''">
                ten_san_pham = #{tenSanPham},
            </if>
            <if test="loaiCuon != null and loaiCuon != ''">
                loai_cuon = #{loaiCuon},
            </if>
            <if test="bhPhaiMau != null and bhPhaiMau != ''">
                bh_phai_mau = #{bhPhaiMau},
            </if>
            <if test="bhAnMon != null and bhAnMon != ''">
                bh_an_mon = #{bhAnMon},
            </if>
            <if test="totalWeight != null and totalWeight != ''">
                total_weight = #{totalWeight},
            </if>
            <if test="totalLength != null and totalLength != ''">
                total_length = #{totalLength},
            </if>
            <if test="mALength != null and mALength != ''">
                m_a_length = #{mALength},
            </if>
            <if test="mBLength != null and mBLength != ''">
                m_b_length = #{mBLength},
            </if>
            <if test="mCLength != null and mCLength != ''">
                m_c_length = #{mCLength},
            </if>
        </set>
        WHERE u_product_id = #{id}
    </update>

    <delete id="deleteById">
        DELETE
        FROM u_product
        WHERE u_product_id = #{id}
    </delete>

    <update id="softDeleteById">
        UPDATE u_product
        SET is_deleted = 1
        WHERE u_product_id = #{id}
    </update>

    <select id="existsById" resultType="boolean">
        SELECT EXISTS (SELECT 1
                       FROM u_product
                       WHERE u_product_id = #{id}
                         AND is_deleted = 0)
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(u_product_id)
        FROM u_product
        WHERE is_deleted = 0
    </select>

</mapper>
