<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pomina.commonservices.location.mapper.LocationMapper">

    <resultMap id="LocationResultMap" type="com.pomina.commonservices.location.entity.Location">
        <id column="u_location_id" property="locationId"/>
        <result column="user_id" property="userId"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
        <result column="address01" property="address01"/>
        <result column="address02" property="address02"/>
        <result column="address03" property="address03"/>
        <result column="address04" property="address04"/>
        <result column="address05" property="address05"/>
        <result column="full_address" property="fullAddress"/>
        <result column="country_code" property="countryCode"/>
        <result column="radius" property="radius"/>
        <result column="status" property="status"/>
        <result column="noted" property="note"/>
        <result column="created_at" property="createdAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="findByUserId" resultMap="LocationResultMap">
        SELECT u_location_id,
               user_id,
               latitude,
               longitude,
               address01,
               address02,
               address03,
               address04,
               address05,
               full_address,
               country_code,
               radius,
               status,
               noted,
               created_at,
               created_by,
               updated_at,
               updated_by,
               is_deleted
        FROM u_location
        WHERE user_id = #{userId}
    </select>

    <insert id="insert">
        INSERT INTO u_location (user_id,
                                latitude,
                                longitude,
                                address01,
                                address02,
                                address03,
                                address04,
                                address05,
                                full_address,
                                country_code,
                                radius,
                                status,
                                noted,
                                created_at,
                                created_by,
                                updated_at,
                                updated_by,
                                is_deleted)
        VALUES (#{userId},
                #{latitude},
                #{longitude},
                #{address01},
                #{address02},
                #{address03},
                #{address04},
                #{address05},
                #{fullAddress},
                #{countryCode},
                #{radius},
                #{status},
                #{note},
                NOW(),
                #{createdBy},
                NOW(),
                #{updatedBy},
                #{isDeleted})
    </insert>

    <update id="update">
        UPDATE u_location
        SET latitude = #{latitude},
            longitude = #{longitude},
            address01 = #{address01},
            address02 = #{address02},
            address03 = #{address03},
            address04 = #{address04},
            address05 = #{address05},
            full_address = #{fullAddress},
            country_code = #{countryCode},
            radius = #{radius},
            status = #{status},
            noted = #{note},
            updated_at = NOW(),
            updated_by = #{updatedBy},
            is_deleted = #{isDeleted}
        WHERE user_id = #{userId}
    </update>


</mapper>