<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Tối ưu prepared statement: dùng lại statement cho hiệu năng tốt hơn -->
        <setting name="defaultExecutorType" value="REUSE"/>
        <!-- Tăng tốc độ trả kết quả khi có nhiều cột -->
        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
    </settings>
</configuration>